body {
    justify-content: center ;
    justify-content: right;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(182, 182, 182); /* colores*/
}
p {
    font-size: 15px ;
}
.ejemplo {
    color: aqua;
}
.ejemplo2{
    color: brown;
}
.ejemplodiv{
    background-color: aquamarine;
    width: 14vw;
    height: 2vh;
}