*{
    margin: 2%;
}

.header{
    height: 90vh;
    width: 82.9vw;
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
}

.img{ 
    height: 40vh;
    width: 100%;
    margin: 0%;
    position: relative;
    background-image: url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 33%;
    background-size: cover;/*ajustar imagen*/
}

.navegation{
    position: relative;
    margin: 0%;
    bottom: 3.2vh;
    height: 7vh;
    background-color: black;
    color:white;
    line-height: 130%;
    font-weight: bold;
    text-align: center;
    font-size: 37px;
}


.titulo{
    text-align: left;
    vertical-align: auto;
    font-size: 2.7vw;
    text-shadow: 0 0 2px white;
}

.conteiner{
    position: relative;
    margin: 0%;
    padding: 0%;
    height: 40vh;

}

.section{
    float: left;
    height: 100%;
    width: 20%;
    margin: 0%;
    position: relative;
}

div > ul > li > a{
    font-size: 25px;
    padding-bottom: 10%;
    padding-top: 10%;
    display: flex;
    margin-bottom: 2vw;
    cursor: pointer;
    color: black;
}

.info{
    float: right;
    height: 100%;
    width: 80%;
    margin: 0%;

}

.logo{
    position: relative;
    height: 25vh;
    width: 25vw;
    float: right;
    bottom: 31em;
    left: 4vh;
    background-image: url(../assets/logo_mighty_ducks-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;/*ajustar imagen*/
    background-position-y: 70%;

}


ul> li > a:hover{

    transition: cubic-bezier(250ms);
}