.header{
    margin-top: 2%;
    margin-left: 2%;
    height: 100%;
    width: 96%;
    position: relative;
    padding: 0%;
    min-width:710px;
}

.img{ 
    height: 42vh;
    width: 100%;
    margin: 0%;
    position: relative;
    background-image: url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 33%;
    background-size: cover;/*ajustar imagen*/
}

.navegation{
    position: relative;
    margin: 0%;
    bottom: 3.4vh;
    height: 3.5vh;
    background-color: black;
    color:white;
    line-height: 160%;
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
    font-size: 2vh;
}
.logo-rules{
    position: absolute;
    right: 1%;
    bottom: 0%;
}


.titulo{
    text-align: left;
    vertical-align: auto;
    font-size: 4vw;
}

.conteiner{
    position: relative;
    margin: 0%;
    padding: 0%;
    height: 31em;
}

.group-links{
    float: left;
    height: 100%;
    width: 12%;
    margin: 0%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-a{
    display: flex;
    font-size: 25px;
    cursor: pointer;
    color: black;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    font-weight: bold;
    margin-right: 0%;
}


.info{
    width: 86%;
    float: right;
    position: relative;
    padding-bottom: 50px;
    margin: 0%;
    font-size: 80%;
    font-weight: 800;
    font-weight: bold;
    
    }
    .logo-rules{
        position: absolute;
    }
    
    .point3{    
        padding: 0;
        }
        .font-bold{ 
            font-weight: bold;
            font-size: 18px;
        }
        
        .body-list{
            margin: 0;
            padding: 0;
            list-style-position:inside;
        }
        .head-list{
            list-style: none;
            font-size: 15px;
        }
        .font-point3{
            font-weight: bold;
            font-size: 15px;
        }
        .text-point4{
            list-style: none;
        }
        .text-point5{
            list-style-type: circle;
            list-style-position:inside;
        }
        .title-list{
            list-style: none;
            text-align: center;
            font-size: 20px;
        }
        .title-list2{
            list-style: none;
            text-align: center;
            font-size: 14px;
        }
        .margin.sportsmanships{
            text-indent: pt;
        }
        .dates{
            margin-top: 60vh;
        }
        td{
            margin: 5;
        }
        .conteiner-tabla{
            margin: 0;
            width: 86;
        }
        table{
            margin-top: 40px;
            width: 86%;
            text-align: left;
        }

        .td{
            padding-left: 60px;
            padding-bottom: 3%;
            font-size: 20px;
        }
        .padding-none{
            padding-left: 60px;
            font-size: 20px;
        }
        .scope{
            padding-left: 60px;
            padding-bottom: 3%;
            font-weight: bold;
            font-size: 23px;
        }
        .tdf{
            padding-left: 140px;
            padding-bottom: 3%;
            font-size: 20px;
        }
        .padding-nonef{
            padding-left: 140px;
            font-size: 20px;
        }
        .title-game{
            font-size: 34px;
            list-style: none;
            text-align: center;
            font-weight: bold;
        }
        .subtitle-game{
            font-style: oblique;
            font-size: 22px;
            
        }
        .subtitle2{
            font-style: oblique;
            font-size: 17px;
            font-family: sans-serif;
        }
        .font-bold-phone{
            font-weight: bold;
            font-size: 18px;

        }
        .font-bold-email{
            font-weight: bold;
            font-size: 18px;
            text-align: right;
        }
        .footer{
            position: relative;
            height: 200px;
            margin-bottom: 30px;
            margin-left: 12%;
        }
        .footer2{
            margin-bottom: 50px;
        }
        .footer3{
            margin-bottom: 0;
        }
        .phone{
            position: absolute;
        }
        .email{
            position: absolute;
            right: 0%;
        }